.App {
  font-family: sans-serif;
  text-align: center;
} 

.float-container {
  border: 3px solid #fff;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly
}

.float-child {
  padding: 20px;
  text-align: center;
}  

.saved {
  background-color: #a9d22d;
  font-size: 30px;
  width: auto;
  height: 50px;
  margin-left: 92px;
  margin-right: 92px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
}

.button {
  font-size: 30px;
  width: 75px;
  height: 60px;
  border-radius: 0px;
}