/* User-defined styling for HTML classes in our application */

/* Define the font/text alignment state of the entire application */
.App {
  font-family: sans-serif;
  text-align: center;
} 

/* Define various spacial properties of float containers in the app */
.float-container {
  border: 3px solid #fff;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly
}

/* Define spacial/text properties of children of float containers in the app */
.float-child {
  padding: 20px;
  text-align: center;
}  

/* Define the style of the hard-coded availabilities (all "yes") for the hard-coded user */
/* including the color of the "yes" status, its margins/positions, etc. */
.saved {
  background-color: #a9d22d;
  font-size: 30px;
  width: auto;
  height: 50px;
  margin-left: 92px;
  margin-right: 92px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
}

/* Define the style of the buttons that the user clicks to change availability status in the app */
.button {
  font-size: 30px;
  width: 75px;
  height: 60px;
  border-radius: 0px;
}